.app {
  margin: 3rem auto;
  width: 30rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.app h1 {
  margin: 0;
  text-align: center;
}
.app a {
  
  background: black ;
}
.dark {
  
  background-color: black;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}